@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* tailwind + CSS global styles */

:root {
  --customColor1: #213555; /* BG */
  --customColor2: #F5EFE7; /* ?? >>> */
  --customColor3: #3E5879; /* ?? >> */
  --customColor4: #D8C4B6; /* ?? > */
  --customColor5: #f5f5f5; /* text */
}

@layer components {
  .btn-primary {
    @apply px-4 py-2 bg-customColor1 text-white font-semibold rounded-lg hover:bg-customColor1 transition;
  }

  .btn-secondary {
    @apply px-4 py-2 bg-gray-500 text-white font-semibold rounded-lg hover:bg-gray-600 transition;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Add dynamic background animation */
body {
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* Custom styles for bullet points */
ul.custom-list {
  list-style-type: disc;
  padding-left: 1.5rem;
}

ul.custom-list li {
  margin-bottom: 0.5rem;
}

ul.custom-list ul {
  margin-top: 1rem;
  margin-bottom: 2rem;
}


.main-tool-bar {
  height: 65px;
  border-bottom: 2px solid var(--customColor2);
  background: #213555;  
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  left: 10;
  top: 0;
  z-index: 1000; /* Ensure the header is on top */
  transition: ease 0.4s;
  &--scrolled {
    height: 40px;
  }
}

.scrollable-area {
  height: 200vh;
}