/* page styles */
.page {
  margin-top: -2rem;
}

/* custom spinner */
.spinner {
  width: 44px;
  height: 44px;
  animation: spinner-y0fdc1 1.5s infinite ease;
  transform-style: preserve-3d;
}

.spinner > div {
  background-color: rgba(245, 245, 245, 0.5);
  height: 100%;
  position: absolute;
  width: 100%;
  border: 2px solid #f5f5f5;
}

.spinner div:nth-of-type(1) {
  transform: translateZ(-22px) rotateY(180deg);
}

.spinner div:nth-of-type(2) {
  transform: rotateY(-270deg) translateX(50%);
  transform-origin: top right;
}

.spinner div:nth-of-type(3) {
  transform: rotateY(270deg) translateX(-50%);
  transform-origin: center left;
}

.spinner div:nth-of-type(4) {
  transform: rotateX(90deg) translateY(-50%);
  transform-origin: top center;
}

.spinner div:nth-of-type(5) {
  transform: rotateX(-90deg) translateY(50%);
  transform-origin: bottom center;
}

.spinner div:nth-of-type(6) {
  transform: translateZ(22px);
}

@keyframes spinner-y0fdc1 {
  0% {
    transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
  }

  50% {
    transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
  }

  100% {
    transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
  }
}

/* Media queries for phone */
@media (max-width: 768px) {
  .bg-customColor4 {
    background-color: transparent;
    margin-top: 0rem;
    padding-top: 0rem;
  }
  .shadow-lg {
    box-shadow: none;
  }
  .my-2 {
    margin-top: 0rem;
    margin-bottom: 0rem;
  }

  .text-4xl {
    font-size: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
    text-align: center;
  }
}
